body {
	font-family: 'Roboto';
	color: #FFFFFF;
	background-color: #40627F;
	margin: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;

}

.header {
	text-align: center;
	font-size: 500%;
	font-family: 'Ubuntu Condensed';
	color: white;
	text-shadow: 1px 1px darkgray;

	width: 100%;

	border-bottom: solid 1px white;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	min-height: 40px;
	color: white;

	width: 50%;
}

#introduction, #disclaimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;

	margin: 2%;
}

#disclaimer {
	font-size: 70%;
	margin-top:0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	/*min-height: 200px;*/
	background-color: white;
}

.plainshadowbutton {
	align-self: center;
	padding: 10px 30px 10px;
	border: solid 5px;
	border-radius: 10px;

	color: darkgray;

	font-family: 'Ubuntu Condensed';
	font-size: 200%;
	text-decoration: none;
	transition: font-size 0.3s;
	cursor: default;

	margin: 3%;

	cursor: pointer;
}
.plainshadowbutton:hover {
	color: #40627F;
	font-size: 300%;
}

#startdiv {
	/*background-color: rgba(255, 255, 255, 0.3);*/
	height: 300px;
}

.article {
	border-bottom: solid white 1px;
	max-width: 100%;
	align-self: center;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	overflow: hidden;
	align-items: flex-end;

	background-color: black;
}

.article canvas {
	position: relative;
	right: 0;
	min-width: 55%;
	min-height: 400px;

	background-color: #000000;

	max-height: 600px;

}

.article .corpus {

	padding: 2%;
	margin:2%;

	background-color: #40627F;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.article .corpus .title {
	border-bottom: white 1px solid;
	font-family: 'Ubuntu Condensed';
	font-size: 200%;

	margin-bottom: 10px;
}
